streamlit
pandas
numpy
requests
tensorflow==2.11.0  # Try this specific version for compatibility with Python 3.10
opencv-python-headless
scikit-learn==1.2.2  # Use a specific version compatible with Python 3.10
